[submodule "ros2_ws/src/gpd_ros2"]
	path = ros2_ws/src/gpd_ros2
	url = https://github.com/rohitmenon86/gpd_ros2.git
[submodule "ros2_ws/src/realsense-ros"]
	path = ros2_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-development
